### Question 1 :
### Write a Python program to find the first 20 non-even prime natural numbers.

In [41]:
n = int(input("how many prime numbers would you like to print?"))
no = range(1,n*10)
prime_no = []

for num in no:
    if num > 2 and len(prime_no) <= n-1:
        for i in range(2,num):
            if (num%i) == 0:
                break
        else:
            prime_no.append(num)
            
print("\n Here are the first",n,"non-even prime no : \n ")
for x in prime_no:
    print(x)

how many prime numbers would you like to print?20

 Here are the first 20 non-even prime no :

3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73

### Question 2 :
### Write a Python program to implement 15 functions of string.

In [42]:
s = "hey i am om landge"
print(s)

hey i am om landge

In [43]:
s.capitalize()

'Hey i am om landge'

In [44]:
s.casefold()

'hey i am om landge'

In [45]:
s.count('a')

2

In [46]:
s.count('o')

1

In [47]:
s.format()

'hey i am om landge'

In [48]:
s.index('o')

9

In [49]:
s.isalpha()

False

In [50]:
s.isdecimal()

False

In [51]:
s.lower()

'hey i am om landge'

In [52]:
s.upper()

'HEY I AM OM LANDGE'

In [53]:
s.replace("om","sumit")

'hey i am sumit landge'

In [54]:
s.rfind("a")

13

In [55]:
s.strip()

'hey i am om landge'

In [56]:
s.swapcase()

'HEY I AM OM LANDGE'

In [57]:
s.title()

'Hey I Am Om Landge'

In [58]:
s.split()

['hey', 'i', 'am', 'om', 'landge']

### Question 3 :
### Write a Python program to check if the given string is a Palindrome or Anagram or None of them.
### Display the message accordingly to the user.

In [60]:
string1 = input("Enter the word : ")
rev_string = string1[::-1]
if rev_string == string1:
    print("Palindrome")
else:
    string2 = input("Enter the word : ")
    s1 = sorted(string1)
    s2 = sorted(string2)
    if s1 == s2 :
        print("Anagrams")
    else:
        print("None")

Enter the word : dad
Palindrome

### Question 4 :

### Write a Python's user defined function that removes all the additional characters from the string
### and converts it finally to lower case using built-in lower(). eg: If the string is "Dr. Darshan Ingle
### @AI-ML Trainer", then the output be "drdarshaningleaimltrainer".

In [68]:
def removestr(s):
    remove_chars = ['!','@','#','$','%','^','&','*','(',')','-','+','_','=',':',';'," "]
    new_s = s
    for char in remove_chars:
        new_s = new_s.lower().replace(char,"")
    print(new_s)

In [69]:
removestr("Dr. Darshan Ingle @AI-ML Trainer")

dr.darshaningleaimltrainer