### Question 1:
### Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.
### Input Format:
### The first line of the input contains an email address.
### Output Format:
### Print the company name in single line.
### Example;
### Input:
### john@google.com
### Output:
### google

In [9]:
def extract_company(email):
    index_of_at = email.find("@")
    return email[index_of_at+1:email.rfind('.')]

e=str(input("Enter the email : "))
r= extract_company(e)
print("Company is : ",r)

Enter the email : omlandge@topper.in
Company is :  topper

### Question 2:
### Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
### separated sequence after sorting them alphabetically.
### Input Format:
### The first line of input contains words separated by the comma.
### Output Format:
### Print the sorted words separated by the comma.
### Example:
### Input:
### without,hello,bag,world
### Output:
### bag,hello,without,world

In [26]:
i = [x for x in input("Enter the data : ").split(',')]
i.sort()
print("The sorted data is : ",','.join(i))

Enter the data : om,raj,aniket,pranav
The sorted data is :  aniket,om,pranav,raj

### Question 3:
### Create your own Jupyter Notebook for Sets.

In [35]:
#A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.
#simple creation of set
thisset = {"cricket", "badminton", "hockey", "football","zebra"}
print(thisset)

{'hockey', 'badminton', 'football', 'cricket', 'zebra'}

In [40]:
#access items
thisset = {"cricket", "badminton", "hockey", "football","zebra"}
for x in thisset:
    print(x)

hockey
badminton
football
cricket
zebra

In [42]:
#check items
thisset = {"cricket", "badminton", "hockey", "football","zebra"}
print("hockey" in thisset)

True

In [43]:
#add items
thisset = {"cricket", "badminton", "hockey", "football","zebra"}
thisset.add("swimmimg")
print(thisset)

{'hockey', 'badminton', 'football', 'cricket', 'zebra', 'swimmimg'}

In [46]:
#add multiple items
thisset = {"cricket", "badminton", "hockey", "football","zebra",'swimmimg'}
thisset.update(["cycling",'running',"chess"])
print(thisset)

{'cycling', 'chess', 'hockey', 'badminton', 'running', 'football', 'cricket', 'zebra', 'swimmimg'}

In [48]:
#lenght of set 
thisset = {'cycling', 'chess', 'hockey', 'badminton', 'running', 'football', 'cricket', 'zebra', 'swimmimg'}
len(thisset)

9

In [57]:
#remove item
thisset = {'cycling', 'chess', 'hockey', 'badminton', 'running', 'football', 'cricket', 'zebra', 'swimmimg'}
thisset.remove('chess')
print(thisset)

{'cycling', 'running', 'hockey', 'badminton', 'football', 'cricket', 'zebra', 'swimmimg'}

In [58]:
#discard item
thisset = {'cycling','hockey', 'badminton', 'running', 'football', 'cricket', 'zebra', 'swimmimg'}
thisset.discard('hockey')
print(thisset)

{'cycling', 'running', 'badminton', 'football', 'cricket', 'zebra', 'swimmimg'}

In [62]:
#pop method
thisset = {'cycling', 'running', 'badminton', 'football', 'cricket', 'zebra', 'swimmimg'}
x = thisset.pop()
print(x)
print(thisset)

cycling
{'running', 'badminton', 'football', 'cricket', 'zebra', 'swimmimg'}

In [68]:
#clear method
thisset = {'running', 'badminton', 'football', 'cricket', 'zebra', 'swimmimg'}
thisset.clear()
print(thisset)

set()

In [69]:
#join two sets
#union method
set1 = {"x", "y" , "z"}
set2 = {"a","b","c"}

set3 = set1.union(set2)
print(set3)

{'z', 'x', 'y', 'a', 'c', 'b'}

In [70]:
#update
set1 = {8, 9, 10}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 8, 9, 10}

### Question 4:
### Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
### Input Format:
### The first line contains n-1 numbers with each number separated by a space.
### Output Format:
### Print the missing number
### Example:
### Input:1 2 4 6 3 7 8
### Output:5
### Explanation:
### In the above list of numbers 5 is missing and hence 5 is the input

In [71]:
def find_missing_no(lst):
    return [x for x in range(lst[0], lst[-1]+1) if x not in lst]

lst = [10,20,12,15,21,26,24]
print(find_missing_no(lst))

[11, 13, 14, 16, 17, 18, 19, 22, 23]

### Question 5:
### With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
### Example:
### If the input list is
### 12 24 35 24 88 120 155 88 120 155
### Then the output should be
### 12 24 35 88 120 155
### Explanation:
### Third, seventh and ninth element of the list L has been removed because it was already present.
### Input Format:
### In one line take the elements of the list L with each element separated by a space.
### Output Format:
### Print the elements of the modified list in one line with each element separated by a space.
### Example:
### Input: 12 24 35 24
### Output:
### 12 24 35

In [74]:
def remove(dupli):
    lst = []
    for num in dupli:
        if num not in lst:
            lst.append(num)
    return lst

dupli = [12,24,35,24]
print(remove(dupli))

[12, 24, 35]